![panda](http://res.freestockphotos.biz/thumbs/3/3173-illustration-of-a-giant-panda-eating-bamboo-th.png)

# Pandas Data Cleaning

# Objectives

- Use lambda functions and DataFrame methods to transform data
- Handle missing data

In [2]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## To The Center!

That's right - we're still working with Austin Animal Center data! But now, let's check out the **Outcomes** data, instead of the Intakes data we were working with yesterday.

Data source: https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238

In [7]:
# Read in the animal center Outcomes data as df
# Can use parse_dates and pass a column name to read it as a datetime
df = pd.read_csv('data/Austin_Animal_Center_Outcomes_022822.csv')

In [8]:
# Check it out
df.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,May 2019,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,Jul 2018,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A821648,NaN,08/16/2020 11:38:00 AM,Aug 2020,08/16/2019,Euthanasia,NaN,Other,Unknown,1 year,Raccoon,Gray
3,A720371,Moose,02/13/2016 05:59:00 PM,Feb 2016,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
4,A674754,NaN,03/18/2014 11:47:00 AM,Mar 2014,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby

In [20]:
pd.to_datetime(df['Date of Birth'])

0        2017-05-02
1        2017-07-12
2        2019-08-16
3        2015-10-08
4        2014-03-12
            ...
137092   2021-11-19
137093   2020-02-23
137094   2020-05-05
137095   2013-10-15
137096   2018-12-21
Name: Date of Birth, Length: 137097, dtype: datetime64[ns]

In [21]:
# Info on the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137097 entries, 0 to 137096
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         137097 non-null  object
 1   Name              96095 non-null   object
 2   DateTime          137097 non-null  object
 3   MonthYear         137097 non-null  object
 4   Date of Birth     137097 non-null  object
 5   Outcome Type      137073 non-null  object
 6   Outcome Subtype   62653 non-null   object
 7   Animal Type       137097 non-null  object
 8   Sex upon Outcome  137095 non-null  object
 9   Age upon Outcome  137092 non-null  object
 10  Breed             137097 non-null  object
 11  Color             137097 non-null  object
dtypes: object(12)
memory usage: 12.6+ MB

## Using Questions to Drive Both Exploration and Cleaning

The best way to think about how to both explore and clean your data set is to think about what is interesting in your data, what questions you have, what you want to know and how to actually get there. We're going to ask a few questions of our dataset, and use that to drive our 'cleaning' process (and talk a little bit about how and when to clean data in the process!)

## Question 1: What types of animals are in our data?

Let's think about what we need to answer the question.

- What feature(s) would we explore?

    - 
    
- What type of logic / calculation / function would help us explore?

    - 
    
- How can we explore visually?

    -

In [ ]:
# Let's explore

In [ ]:
# Let's visualize

Questions lead to other questions. For the above example, the visualization raises the question...

### What "Other" animals are in the dataset?

To find out, we need to know whether the type of animal for "Other" is in our dataset - and if so, where to find it.

Where might we look to find animal types within the Other category?

-

In [ ]:
# Let's subset down to only animals with type Other

Let's use that column to answer our question.

In [ ]:
# Let's explore

In [ ]:
# Let's visualize the top 10...

Seeing a lot of duplicates because of the word "Mix" in there. Having "Mix" doesn't give us any more information than the original subtype, so maybe we want to clean this column by removing "Mix" and see if that helps us explore these Other types.

In [ ]:
# Let's use string methods to replace " Mix" with nothing ("")

In [ ]:
# Sanity check

In [ ]:
# Now let's visualize the top 10 again

## Question 2: How old are the animals in our dataset?

Let's try to answer this with the Age upon Outcome variable:

In [ ]:
# Check out the Age column

Ew. How in the world are we going to fix that up??

Any thoughts?

-

In [ ]:
# One way could be to split out the age number and age value

In [ ]:
# Sanity check

In [ ]:
# Check the data types really quick...

In [ ]:
# Need to make our Age Number actual numbers! But...

Alas! Nulls! Let's check out these null values:

In [ ]:
# Check how many nulls we have in our original Age Upon Outcome column

### Handling Missing Data

A lot of the times we'll have missing information in our data set. This can sometimes be troublesome in what we're trying to do.

There are a few strategies we can choose from and they each have their pros/cons:

- **Fill with a Relevant Value**
    - If we know what the nulls 'should' be, easy to fill them with that value
    - For numbers, perhaps the null indicates a 0
    - Or, for string columns, might be easier to handle if we fill with "Missing" or "Unknown"
- **Fill with a Reasonable Value**
    - For numeric data, it might be acceptable to fill with a measure of central tendency (mean or median)
    - For categorical/string data, might be acceptable to fill with the most common (mode)
    - But beware! Filling in missing values can lead to you drawing incorrect conclusions. If most of the data from a column are missing, it's going to appear that the value you filled it in with is more common that it actually was!
- **Specify Missing Data**
    - If you plan to fill in missing values, it might make sense to specify that the data was originally missing by creating a new indicator column
    - This can be helpful when you suspect that the fact the data was missing could be important for an analysis.
- **Drop Missing Data**
    - While you should try to keep as much relevant data as possible, sometimes the other methods don't make as much sense and it's better to remove or **drop** the missing data
    - We typically drop missing data if very little data would be lost and/or trying to fill in the values wouldn't make sense for our use case

So: what should we do about the missing Age upon Outcome data?

-

In [ ]:
# No matter what - better to make this change on a COPY of the dataframe

In [ ]:
# Code here to handle nulls

In [ ]:
# Sanity check

In [ ]:
# Cool - now we can make our Age Number column an integer

In [ ]:
# Sanity check

Now let's do something about those Age Values...

### Map, Apply and Applymap

Resource: https://www.geeksforgeeks.org/difference-between-map-applymap-and-apply-methods-in-pandas/

The `.map()` method applies a transformation to every entry in the Series. This transformation  "maps" each value from the Series to a new value. A transformation can be defined by a function, Series, or dictionary.

The `.apply()` method is similar to the `.map()` method for Series, but can only take in functions. 

The `.applymap()` method only works on DataFrames, and applies the same transformation to every element (cell) of that DataFrame.

In [ ]:
# Providing this dictionary to capture age values in # days (not perfect)
age_vals = {
    'years': 365,
    'year': 365,
    'months': 30,
    'month': 30,
    'weeks': 7,
    'week': 7,
    'days': 1,
    'day': 1
}

In [ ]:
# Now, how can we transform the Age Value column to capture these values?

In [ ]:
# Sanity check

In [ ]:
# Now, let's make a new Age in Days column!

In [ ]:
# Sanity check

In [ ]:
# Now we can visualize!

In [ ]:
# Of course, we could also try...

In [ ]:
# Check it

## Question 3: Are Most of The Animals Already Fixed?

Let's use `.map()` to turn the Sex upon Outcome column into a category with three values: Fixed, Intact, or Unknown.

In [ ]:
# Check out what's currently in that column

In [ ]:
# Let's write up a function for this!
def fixed_mapper(status):
    '''
    Takes in the current status of animals and outputs whether they have been fixed
    
    Input:
    - status - str
        A string value that details the current status of the animal, where 'Intact'
        indicates the animal has not been fixed. Could also be null
        
    Output:
    - consolidated_status - str
        'Intact' for not fixed, 'Fixed' for spayed/neutered, or 'Unknown'
    '''
    pass

In [ ]:
# Now let's use it!

In [ ]:
# We had a null in that column before, did that change?

In [ ]:
# Visualize it!

## A Quick Aside - for Lambda Functions!

Simple functions can be defined just when you need them, when you would call the function. These are called **lambda functions**. These functions are **anonymous** and disappear immediately after use.

These can often be great as map transformation functions, but they can only do so much.

Let's use them to fill some nulls!

In [ ]:
# Check which columns still have null values

Let's look at Outcome Subtype - a lot of nulls, why do we think that is? What would be an appropriate strategy here?

-

In [ ]:
# Let's try it! Use map and a lambda function
# Note: need to use x is np.nan as our if condition

In [ ]:
# BUT! Pandas has a function for this

In [ ]:
# We can use one of these methods to fill the nulls for Outcome Type too
# Explore the column here

In [ ]:
# Fill nulls here

In [ ]:
# Sanity Check

### One More Strategy: Build a Missing Indicator

While this doesn't directly answer a question we have, let's go ahead and build a new column to indicate where Name is null (just to demo).

This can be quite useful when modeling, if the data being missing actually means something!

In [ ]:
# Quick pandas method for this

Might be more interesting to build an indicator of where "Mix" is in the Breed column

In [ ]:
# Let's do it

In [ ]:
# Sanity check

## Comparing Before and After

We can now see all the work we did!

In [ ]:
# Original data

In [ ]:
# Missing data cleaned

# Level Up: `.applymap()`

`.applymap()` is used to apply a transformation to each element of a DataFrame.

In [ ]:
# This line will apply the base `type()` function to 
# all entries of the DataFrame.

df.applymap(type).head()

# Level Up: Faster NumPy Methods

In general, `np.where()` and `np.select()` are faster than `map()`. This won't matter too much with reasonably-sized data but can be a consideration for ***big data***.

In [ ]:
# Let's copy the dataframe to play around with
level_up = df.copy()

In [ ]:
level_up.head()

## NumPy's `where()` Method

In [ ]:
# First pass a condition
level_up['Adopted1'] = np.where(level_up['Outcome Type'] == 'Adoption',
                                True,  # What to fill with if the condition is true
                                False)  # What to fill with if not true
level_up.head()

In [ ]:
level_up['Adopted2'] = level_up['Outcome Type'].map(lambda x: True if x == 'Adoption' else False)
level_up.head()

In [ ]:
# Let's time how long it takes np.where() to run by running it multiple times
%timeit np.where(level_up['Outcome Type'] == 'Adoption', True, False)

In [ ]:
# Let's time how long it takes .map() to run by running it multiple times
%timeit level_up['Outcome Type'].map(lambda x: True if x == 'Adoption' else False)

## NumPy's `select()` Method

Again, `numpy` will be faster:

In [ ]:
# Define our list of conditions
conditions = [level_up['Sex upon Outcome'] == 'Neutered Male',
              level_up['Sex upon Outcome'] == 'Spayed Female',
              level_up['Sex upon Outcome'] == 'Intact Male',
              level_up['Sex upon Outcome'] == 'Intact Female',
              level_up['Sex upon Outcome'] == 'Unknown',
              level_up['Sex upon Outcome'].isna()]

# Define a matching list of outcomes
choices = ['Fixed', 'Fixed', 'Intact', 'Intact', 'Unknown', 'Unknown']

In [ ]:
# Use np.select
level_up['Grouped Sex upon Outcome1'] = np.select(conditions, choices)
level_up['Grouped Sex upon Outcome1']

In [ ]:
# Check we got the same results with np.where()
(level_up['Grouped Sex upon Outcome1'] != level_up['Grouped Sex upon Outcome']).sum()

In [ ]:
# Let's time how long it takes .map() to run by running it multiple times
%timeit level_up['Sex upon Outcome'].map(fixed_mapper)

In [ ]:
# Let's time how long it takes np.select() to run by running it multiple times
%timeit np.select(conditions, choices)