In [1]:
import pandas as pd

In [13]:
df = pd.DataFrame({'a': ['1', '2', '3'], 'b': ['1', '2', '3'], 'c': ['1', '2', '3'], 'd': ['1', '2', '3']})

In [14]:
df

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       3 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [17]:
df['a'] = df['a'].astype(int)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       3 non-null      object
dtypes: int64(1), object(3)
memory usage: 224.0+ bytes

In [19]:
df

   a  b  c  d
0  1  1  1  1
1  2  2  2  2
2  3  3  3  3

In [34]:
df['a'].value_counts().head(2)

3    1
2    1
Name: a, dtype: int64

In [35]:
list(df['a'].value_counts().head(2))

[1, 1]

In [32]:
df['a'].value_counts().head(2).index.tolist()

[3, 2]